@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    header {
        width: 100%;
        padding: 0 50px;
    }

    .nav .nav-element a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    header {
        justify-content: center;
    }

    .nav {
        display: none !important;
    }
}